
<h1>{BLOG_NAME}</h1>
<h2>{LINK_TITLE}</h2>

<a href="{SHARE}" class="share" id="share">share</a>
<div class="sharelist" id="sharelist">
<h3>share this link</h3>
<a href="http://www.facebook.com/share.php?u={URL}" class="facebook">facebook</a>
<a href="http://del.icio.us/post?v=4&noui&jump=close&url={URL}" class="delicious">delicious</a>
<a href="http://twitter.com/home/?status={URL}" class="twitter">twitter</a>
<a href="http://digg.com/submit?phase=2&url={URL}" class="digg">digg</a>
<a href="http://technorati.com/faves?sub=addfavbtn&add={URL}" class="technorati">technorati</a>
<a href="http://reddit.com/submit?url={URL}" class="reddit">reddit</a>
<a href="http://www.stumbleupon.com/submit?url={URL}&title={LINK_TITLE}" class="stumbleupon">stumbleupon</a>
<a href="http://www.netvibes.com/share?url={URL}&title={LINK_TITLE}" class="netvibes">netvibes</a>
</div>

<a href="{URL}" class="close">close</a>
